.city-bg {
    position: fixed;
    z-index: -1;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    opacity: 0.5;
    user-select: none;
    font-size: 1.2em;

    &__building {
        overflow: hidden;
        color: #ddd;
        background-color: #000;
        padding: 1vh 1em ;

        &:first-child {
            height: 20vh;
            flex: 1;
        }

        &:last-child {
            height: 25vh;
            flex: 1;
        }

        @for $i from 2 through 6 {
            &:nth-child(#{$i}) {
                height: 20vh + random($limit: 30);
                flex: random($limit: 2);
            }
        }
    }

}

@media (min-width: 50em) {
	.city-bg {
        width: 80%;
        max-width: 960px;
        font-size: 2em;
    }
}