.search {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;

    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        flex: 3;
        padding: 1em;
        color: #fff;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: normal;
        transition: background-color 0.3s ease-in;
        background-color: rgba($color: #fff, $alpha: 0.3);
        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.5);
        }
        &:focus {
            outline: none;
            background-color: rgba($color: #fff, $alpha: 0.5);
        }

        &::placeholder {
            color: rgba($color: #fff, $alpha: 0.6);
        }
    }

    &__button {
        flex: 1;
        border: 3px solid #fff;
        background-color: #fff;
        color: $primary-color;
        font-weight: bold;
        font-size: 1.2em;
        padding: 0.3em;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        transition: background-color .3s ease-out, color .3s ease-in;
    }
}