//Colors
$primary-color: #008080;
$secondary-color: #ea4b12;

//Fonts Families
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$font-family-base: Montserrat, Arial, sans-serif;

