.weather {
    padding: 2em;
    color: #fff;
    text-shadow: 2px 2px 0px #333;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__date {
        margin-top: 0;
        text-shadow: none;
    }

    &__icon {
        // background-color: blue;
    }

    &__city {
        font-size: 2rem;
        letter-spacing: 0.07em;
        text-transform: uppercase;
    }

    &__temperature {
        position: relative;
        font-size: 5rem;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;

        .degrees {
            position: absolute;
        }
    }

    &__description {
        font-size: 1.4rem;
        text-transform: capitalize;
    }

}

@media (min-width: 35em) {
    .weather {
        display: grid;
        grid-template-rows: 3;
        grid-template-columns: 3;
        text-align: center;

        &__date {
            grid-row: span 1;
            grid-column: span 3;
        }

        &__city {
            grid-row: span 2;
            grid-column: span 1;
        }

        &__icon {
            grid-row: span 2;
            grid-column: span 1;
            justify-self: center;
        }

        &__temperatura {
            grid-row: span 1;
            grid-column: span 1;
        }

        &__description {
            grid-row: span 1;
            grid-column: span 1;
            margin: 0;
        }


    }
}